@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    font-weight: 600;
    color: white;
}

body{
    background-color: rgb(255, 69, 110); 
}
header{
    background-color: white;
    width: 100%;
}

.brand{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    gap: 10px;
    height: 80px;
}
.brand p{
    font-size: 50px;
    color:black;
}
.brand>img{
    height: 50px;

}
.section1{
    
}
.imge{
    position: relative;
    top: 10%;
    left: 55%;
    transform: translate(-50%, -70%);
    width: 50%;
    max-width: 100%; /* adjust to your needs */
    height: auto;
}
.section1 .imge img{
    height: 570px;
    
    
}
.intro .intro-txt{
    width: auto;
    font-size: 100px;
    text-align: center;
    color: white;
}
.intro{
    position: relative;
    text-align: center;
}

.intro-span{
    font-size: 200px;
    position: relative;
    z-index: 1;
    color: white;
    filter: drop-shadow(5px 10px 5px black);
    text-align: center;
}
.section2{
    
   
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
}
.intro2{
    margin-top: 100px;
}
.intro2 p{
    font-size: 50px;
}
.intro2-1{
    display: grid;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    
}
.quote2{
    font-size: 50px;
    text-shadow: 2px 2px 10px rgb(251, 255, 0), 5px 4px 20px rgba(72, 255, 0, 0.15);
}
.section3{
    display: grid;
    grid-template-columns: auto;
    text-align: center;
}
.section3 .intro3{
    grid-column-start: 2;
}
.section4{
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.section4 h1{
    grid-column-start: 1;
    grid-column-end: 4;
}
.quote3{
    font-size: 80px;
}
.cakes{
    padding: 0;
    margin: 0px;
}
.cakes img{
    height: 300px;
    transition: 0.5s ease all;
    width: 100%;
    padding: 10px;
}
.cakes img:hover{
    transform: scale(1.1);
}
.deli{
    font-size: 30px;
}
.order{
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 50px;
    background-color: rgb(0, 255, 200);
    text-decoration: none;
}
.contact{
    background-color: rgb(53, 3, 3);
    text-align: center;
    padding: 15px;
}
.chat{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactus{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
@media only screen and (min-width:240px) and (max-width:600px){
    *{
        padding: 0px;
        margin: 0px;
    }
    .brand p{
        font-size: 25px;
    }
    .name{
        display: none;
    }
    .intro .intro-txt{
        width: auto;
        font-size: 40px;
    }
    .section1 .imge img{
        height: 400px;
        margin-bottom: 0px;
    }
   
    .imge{
        position: relative;
        top: 50%;
        left: 35%;
        transform: translate(-50%, -50%);
    }
    .intro-span{
        font-size: 100px;
    }
    .intro2 p{
        font-size: 20px;
        padding: 10px;
    }
    .section2{
        
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows:auto;
    }
    .intro2-1{
        display: grid;
        grid-row-start: 2;
        grid-column-start: 1;
    }
    .section3{
        margin-bottom: 50px;
    }
    .section3 .intro3 {
        grid-column-start: 1;
    }
    .quote3{
        font-size: 28px;
        margin: 0px;
        padding: 10px;
    }
    .deli{
        font-size: 20px;
    }
    .section4 {
        text-align: center;
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
    }
    .cakes img {
        height: 200px;
        transition: 0.5s ease all;
        width: 100%;
        padding: 10px;
    }
    .chat {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
    }
    .contactus{
        display:list-item;
        
    }
}
